<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAW3tWvib26-hS5fW6F4bcq9P_4TwVX0NE</string>
	<key>GCM_SENDER_ID</key>
	<string>655372369335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photocheck</string>
	<key>PROJECT_ID</key>
	<string>check-82d7e</string>
	<key>STORAGE_BUCKET</key>
	<string>check-82d7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655372369335:ios:30563a43624a8c7f91bc32</string>
</dict>
</plist>